
// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");


// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

//colors base
$red: #D32F2F;
$blue: #303F9F;
$green: #388E3C;
$purple: #512DA8;
$orange: #F57C00;

//breakpoint vars
$small: 576px;
$med: 768px;
$large: 992px;
$huge: 1200px;
@mixin breakpoint($point) {
   @if $point == huge {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == large {
     @media (min-width: 992px) { @content ; }
  }
    @else if $point == med {
     @media (min-width: 768px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 576px)  { @content ; }
  }
}

//background
body{
	margin:0;
	padding:0;
  background: #FFF url('http://192.168.0.12:8080/img/background.png') repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;

}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to { background-position: 1400% 0; }
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to { background-position: 1400% 0; }
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to { background-position: 1400% 0; }
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to { background-position: 1400% 0; }
}

.content-body {
  max-width: 1020px;
  box-shadow: 2px 2px 2px #999;
  background: rgba(255,255,255, 0.8);
}
.content-body > div {
  margin-bottom: 15px
}

//homepage

.jumbo-text {
  font-size: 70px;
}
.branding {
  font-family: 'Source Code Pro', sans-serif;
  color: $blue !important; //override bootstrap colors
}
.branding-green {
  font-family: 'Source Code Pro', sans-serif;
  color: $green !important; //override bootstrap colors
}.branding-red {
  font-family: 'Source Code Pro', sans-serif;
  color: $red !important; //override bootstrap colors
}.branding-orange {
  font-family: 'Source Code Pro', sans-serif;
  color: $orange !important; //override bootstrap colors
}
.branding-purple {
  font-family: 'Source Code Pro', sans-serif;
  color: #512DA8 !important; //override bootstrap colors
}

.subheader {
  color: #455A64;
  margin-top: -10px;
  font-style: italic
}
p {
  font-family: 'Source Sans Pro', sans-serif;
}
.top-nav {
  vertical-align: top;
}
.container, .row {
  height: 100%;
  min-height: 100%;
}

.nav > li > a {
  color: #455A64;
}
.nav > li > a:hover {
  color: #303F9F;
}

html, body {
  height: 100%;
}

//pages
h1, h2 {
  font-family: 'Source Code Pro', sans-serif;
}

.title-row {
  color: #FFF;
  box-shadow: 2px 2px 2px #999;
}
.title-row-green {
  background: $green;
}
.title-row-red {
  background: $red;
}
.title-row-purple {
  background: $purple;
}
.title-row-orange {
  background: $orange;
}
.nav-item.active > .nav-link {
  color: $blue !important; //override bootstrap colors
}
.nav-item.active > .nav-link-green {
  color: $green !important; //override bootstrap colors
}
.nav-item.active > .nav-link-red {
  color: $red !important; //override bootstrap colors
}
.nav-item.active > .nav-link-purple {
  color: $purple !important; //override bootstrap colors
}
.nav-item.active > .nav-link-orange {
  color: $orange !important; //override bootstrap colors
}

.list-title > a {
  color: $blue;
}
.list-title-green > a {
  color: $green;
}
.list-title-red > a {
  color: $red;
}
.list-title-purple > a {
  color: $purple;
}
.list-title-orange > a {
  color: $orange;
}

.green {
  color: $green;
}
.red {
  color: $red;
}
.purple {
  color: $purple;
}
.orange {
  color: $orange
}
.langs {
  line-height: 2.1
}
.lang-pill {
  box-shadow: 1px 1px 1px #999;
  padding: 5px;
  margin: 2px;
  border-radius: 2px;
}
//projects
.card-block {
  padding: 0
}
.carousel {
  max-width: 980px;
  box-shadow: 2px 2px 1px #999;
}
.carousel-item {
  height: 600px;


	@include breakpoint(small) {
		height: 250px
	}

}
.carousel-indicators > li {
  background: $purple;
}
.carousel-indicators > li.active {
  background: #B39DDB;
}
//requirements
h2.req-title{
  font-family: 'Source Sans Pro', sans-serif;
}

.about-me-photo {
  width: 40%;
  box-shadow: 2px 2px 2px #999;
  border-radius: 50%;
  margin: 5px;
  float: right;
  shape-outside: circle();

}

//contact
.contact-row {
  max-width: 500px
}
.contact-wrapper {
  text-align: center
}
.social > div {
  display: inline-block;
  margin: 5px;
  height: 60px;
  box-shadow: 2px 2px 2px #999;
}
.social > div > a {
  color: $blue;
}
.social-icon {
  height: 60px;
  width: 60px
}

svg path {
  fill: $blue;
}
