
// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");


// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

//colors base
$red: #D32F2F;
$blue: #303F9F;
$green: #388E3C;
$purple: #512DA8;
$orange: #F57C00;


//background
body{
	margin:0;
	padding:0;
  background: #FFF url('http://192.168.0.12:8080/img/background.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;

}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

.content-body {
  box-shadow: 5px 5px 2px #999;
  background: rgba(255,255,255, 0.8);
}

//homepage

.jumbo-text {
  font-size: 70px;
}
.branding {
  font-family: 'Source Code Pro', sans-serif;
  color: $blue !important; //override bootstrap colors
}
.branding-green {
  font-family: 'Source Code Pro', sans-serif;
  color: $green !important; //override bootstrap colors
}.branding-red {
  font-family: 'Source Code Pro', sans-serif;
  color: $red !important; //override bootstrap colors
}.branding-orange {
  font-family: 'Source Code Pro', sans-serif;
  color: $orange !important; //override bootstrap colors
}
.branding-purple {
  font-family: 'Source Code Pro', sans-serif;
  color: #303F9F !important; //override bootstrap colors
}
.subheader {
  color: #455A64;
  margin-top: -10px;
  font-style: italic
}
p {
  font-family: 'Source Sans Pro', sans-serif;
}
.top-nav {
  vertical-align: top;
}
.container, .row {
  height: 100%;
  min-height: 100%;
}

.nav > li > a {
  color: #455A64;
}
.nav > li > a:hover {
  color: #303F9F;
}

html, body {
  height: 100%;
}

//pages
h1, h2 {
  font-family: 'Source Code Pro', sans-serif;
}

.title-row {
  background: $blue;
  color: #FFF;
}
.title-row-green {
  background: $green;
  color: #FFF;
}
.title-row-red {
  background: $red;
  color: #FFF;
}
.title-row-purple {
  background: $purple;
  color: #FFF;
}
.title-row-orange {
  background: $orange;
  color: #FFF;
}
.nav-item.active > .nav-link {
  color: $blue !important; //override bootstrap colors
}
.nav-item.active > .nav-link-green {
  color: $green !important; //override bootstrap colors
}
.nav-item.active > .nav-link-red {
  color: $red !important; //override bootstrap colors
}
.nav-item.active > .nav-link-purple {
  color: $purple !important; //override bootstrap colors
}
.nav-item.active > .nav-link-orange {
  color: $orange !important; //override bootstrap colors
}

.list-title > a {
  color: $blue;
}
.list-title-green > a {
  color: $green;
}
.list-title-red > a {
  color: $red;
}
.list-title-purple > a {
  color: $purple;
}
.list-title-orange > a {
  color: $orange;
}

//requirements
h2.req-title{
  font-family: 'Source Sans Pro', sans-serif;
}

//contact
.contact-row {
  max-width: 500px
}
.social > div {
  display: inline-block;
  padding: 5px
}
